.container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: -10px;
  border-style: groove;
/* position: absolute;*/
}

aside {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: black;
}

/* */

.dice {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a . c"
    "e g f"
    "d . b";
  margin: 1px;
  border-style: groove;
  border-color: red;
  width: 100px;
  height: 100px;
  border-radius: 1%;
}

.dice aside:nth-child(2) {
  grid-area: b;
}

.dice aside:nth-child(3) {
  grid-area: c;
}

.dice aside:nth-child(4) {
  grid-area: d;
}

.dice aside:nth-child(5) {
  grid-area: e;
}

.dice aside:nth-child(6) {
  grid-area: f;
}

.dice aside:nth-child(odd):last-child {
  grid-area: g;
}
